body{
    /*background-color: aqua;*/
    margin: 0;
    padding: 0;
}

.menu, #btn-menu {
    display: none;
}/*se desactivo para el responsive*/

.contenido{
    width: 1000px;
    margin: auto;
    }
.contenido h1{
    text-align: center;
}
.descripcion{
    text-align: center;
    font-size: 40px;
}

.fila {
    display: grid;
    justify-content: center; 
    grid-template-columns:90px 40px;
    gap: 30px
}
.titulo{
    font-size: 30px;
}
.prefix {
    text-align: center;
    border: 3px solid black;
    border-radius: 0.2em;
}

.input {
    display: grid;
    justify-content: center;
    grid-template-columns: 40px;
    margin-top: 10px;
    text-align: center;
}

.input > input {
    text-align: center;
}

.subtitulo {
    font-size: 25px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tabla {    
    margin: auto;
    border-collapse: collapse;
    border: 1.5px solid black;
}

.cuadro {
    font-size: 20px;
    display: grid;
    grid-template-columns: 150px 300px 500px;
    /*border-radius: 0.2em;*/
}
.cuadro > th{
    padding: 10px;
    border-collapse: collapse;
    border: 1.5px solid black;
}

.columnas3{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,150px);
    gap: 10px;
    margin-top: 10px;
}

.mostrar_off, .ocultar{
    display: none;
}

.mostrar, .ocultar_off{
    display: inline-block;
}

.boton {
    cursor: pointer;
    font-size: 15px;
    height: 30px;
    border-radius: 0.6em;
    background-color: gray;
}
.span {
    color: red;;
}

.verde:hover{
    background-color: chartreuse;
}

.rojo:hover{
    background-color: crimson;
}

@media (max-width: 500px) {
    .contenido{
        max-width: 450px;
        margin-top: 50px;
    }
    
    .off {
        display: none;
    }
    .cuadro {
        display: grid;
        font-size: 15px;
        grid-template-columns: 100px 250px;
        /*border-radius: 0.2em;*/
    }
    .subtitulo {
        font-size: 25px;
        margin-left: 10px;
    }
    .filas{
        grid-column: span 2;
        text-align: center;
    }
    header{
        background: #4e94ab;
        width: 100%;
        padding: 0;
        margin: 0;
        position: fixed;
        height: 40px;
        top: 0;
    }
    label {
        margin-bottom: 0;
    }
    .menu {
        display: block;
        position: absolute;
        background: #4e94ab;
        margin: 70%; /*se ira a un costado*/
        margin-left: -70%; 
        transition: all 1s;
    }
    .menu ul {
        margin: 0;
        padding: 0;
        flex-direction: column;
        list-style: none;
    }
    .menu li {
        border-top: 1px solid #fff;
    }
    .menu li a {
        display: block;
        padding: 15px 20px; /*margenes internos*/
        color: #fff;
        text-decoration: none;
    }
    .menu li:hover {
        background: rgba(0, 0, 0, 0.3);
    }
    .menu ul li:hover ul {
        display: block;
    }
    #btn-menu:checked ~/*vergulilla*/ .menu {
        margin: 0;
    }
    .descripcion{
        text-align: center;
        font-size: 20px;
    }
    .tabla{
        margin-bottom: 20px;
    }

}